@model BankCardViewModel

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="visa" role="tabpanel" aria-labelledby="visa-tab">
        <div class="mt-4 mx-4">
            <div class="text-center">
                <h5>Credit card</h5>
            </div>
            <div class="form mt-3">
                <div class="inputbox">
                     <input asp-for="CardNumber" class="form-control" autocomplete="Card Number" aria-required="true" />
                    <label asp-for="CardNumber"></label>
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
                <div class="inputbox">
                    <input asp-for="CardHolderName" class="form-control" autocomplete="Cardholder Name" aria-required="true" />
                    <label asp-for="CardHolderName"></label>
                    <span asp-validation-for="CardHolderName" class="text-danger"></span>
                </div>
                <div class="d-flex flex-row">
                    <div class="inputbox">
                        <input asp-for="Month" class="form-control" autocomplete="Month" aria-required="true" />
                        <label asp-for="Month"></label>
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <input asp-for="Year" class="form-control" autocomplete="Year" aria-required="true" />
                        <label asp-for="Year"></label>
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="inputbox">
                        <input asp-for="CVV" class="form-control" autocomplete="CVV" aria-required="true" />
                        <label asp-for="CVV"></label>
                        <span asp-validation-for="CVV" class="text-danger"></span>
                    </div>
                </div>
                <form class="form-inline" asp-controller="Card" asp-action="CreateNewCard" )">
                    <div class="px-5 pay">
                        <button class="btn btn-success btn-block">Add card</button>
                    </div>
                </form>
                @*<div class="px-5 pay">
                    <button class="btn btn-success btn-block">Add card</button>
                </div>*@
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="paypal" role="tabpanel" aria-labelledby="paypal-tab">
        <div class="px-5 mt-5">
            <div class="inputbox">
                <input type="text" name="name" class="form-control" required="required">
                <span>Paypal Email Address</span>
            </div>
            <div class="pay px-5">
                <button class="btn btn-primary btn-block">Add paypal</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}