@model SendMessageModel

<form asp-controller="Profile" asp-action="SendMessageProfile" method="post">
    <div class="form-group">
        <label asp-for="Content">Massage to @Model.ReceiverName:</label>
        <textarea asp-for="Content" class="form-control" aria-label="With textarea"></textarea>
        <span asp-validation-for="Content" class="small text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-2">SendMessage</button>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
        }
