@model ShowMessageViewModel

@foreach(var mes in Model.Messages){
    <p>Sender:@mes.SenderId</p>
    <p>Receiver:@mes.ReceiverId</p>
    <p>Created on:@mes.CreatedOn</p>
    <p>Content:@mes.Content</p>
}
