<style>
    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<h1 style="text-align:center"> It looks like you don't have any messages yet...</h1>
<img id=img class="align-content-center" width="400" height="550" src="~/Images/NoMessages.png" alt="image">
