<style>
    #img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>
<h1 style="text-align:center"> It looks like there aren't any topics yet...</h1>
<h2 style="text-align:center">But you can add the first one!</h2>
<button type="submit" class="btn btn-success mt-2"
        onclick="location.href='@Url.Action("CreateNewTopic", "Forum")'" )>
    Add new topic
</button>
