@model AdvertismentsViewModel


<div class="row" id="productsWrapper">
    @if (Model.Advertisments.Count==0)
    {
        <p>Sorry,there isn't advertisments with these parameters'</p>
    }
    @foreach (var item in Model.Advertisments)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body" id="card">
                    <h5 class="card-title">@item.Title</h5>
                    @foreach (var product in Model.Products)
                    {
                        @if (product.Id == item.ProductId)
                        {
                            <p class="card-text">@product.Description.</p>
                        }
                    }
                    <button class="btn btn-outline-secondary" type="button" style="float: right;"
                        onclick="location.href='@Url.Action("ShowAdvertisment", "Shop",new {AdvertismentId=item.Id})'">
                        View
                    </button>
                </div>
            </div>
        </div>
    }
</div>
