@model NewProductViewModel


@using (Html.BeginForm("CreateNewProduct", "Shop", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.DropDownListFor(m=>m.SelectedCategory , Model.Categories, "Select Category",new{@id="SelectedCategory"})
    @Html.HiddenFor(m=>m.SelectedCategoryText,new{@id="SelectedCategoryText"})
    @Html.DropDownListFor(m=>m.SelectedGender , Model.Genders, "Select Category",new{@id="SelectedGender"})
    @Html.HiddenFor(m=>m.SelectedGenderText,new{@id="SelectedGenderText"})
    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="small text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Content</label>
        <textarea asp-for="Description" class="form-control" aria-label="With textarea"></textarea>
        <span asp-validation-for="Description" class="small text-danger"></span>
    </div>
    <p>Upload up to 5 files!</p>
    <input type="file" id="file1"
           name="file1"
           multiple="multiple" />

    <button type="submit" class="btn btn-success mt-2">Next</button>
    }

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
        $(function () {
            $("#SelectedCategory").on("change", function {
                $("#SelectedCategoryText").val($(this).text());
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $("#SelectedGender").on("change", function {
                $("#SelectedGenderText").val($(this).text());
            });
        });
    </script>

        }