@model AdvertismentsViewModel

    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="categoryDropDownList" >
            Category
        </button>
        <div class="dropdown-menu">
            @foreach (var category in Model.Categories)
            {
              <a class="dropdown-item" href="#">@category.NameOfCategory</a>
            }
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gender
        </button>
        <div class="dropdown-menu">
        @foreach (var gender in Model.Genders)
        {
            <a class="dropdown-item" href="#">@gender.NameOfGender</a>
        }
        </div>
    </div>



    <div class="input-group">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" />
            <label class="form-label" for="form1">Search</label>
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>

    <div class="row" id="productsWrapper">
        @foreach (var item in Model.Advertisments)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" id="card">
                        <h5 class="card-title">@item.Title</h5>
                        @foreach (var product in Model.Products)
                        {
                            @if (product.Id == item.ProductId)
                            {
                                <p class="card-text">@product.Description.</p>
                            }
                        }
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        }

    @section Scripts
      {
        <script >
            $(function(){
                $('#CategoryBtn').on('click',function(){
                    $.getJSON('/Shop/ProductsFromCategory',function(data)){
                        $('#productsWrapper').text(data.)
                    }
                })
            })
           
        </script>
    }
        @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
       @* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
*@