@*@model AddMoneyToWalletViewModel
<div class="card-body">

    <div class="input-group">
        <div class="input-group-prepend">
            <input asp-for="Money" class="form-control" autocomplete="money" aria-required="true" />
            <label asp-for="Money"></label>
            <span asp-validation-for="Money" class="text-danger"></span>
        <span class="input-group-text">$</span>
        </div>

    </div>

    <div class="input-group mb-3">
    <input type="text" class="form-control">
        <div class="input-group-append">
            <input asp-for="CardNumber" class="form-control" autocomplete="CardNumber" aria-required="true" />
            <label asp-for="CardNumber"></label>
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        <span class="input-group-text"><i class="fas fa-check"></i></span>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control">
        <div class="input-group-append">
            <input asp-for="Year" class="form-control" autocomplete="Year" aria-required="true" />
            <label asp-for="Year"></label>
            <span asp-validation-for="Year" class="text-danger"></span>
            <span class="input-group-text"><i class="fas fa-check"></i></span>
        </div>
    </div>
    
    <div class="input-group mb-3">
        <input type="text" class="form-control">
        <div class="input-group-append">
            <input asp-for="Month" class="form-control" autocomplete="Month" aria-required="true" />
            <label asp-for="Month"></label>
            <span asp-validation-for="Month" class="text-danger"></span>
            <span class="input-group-text"><i class="fas fa-check"></i></span>
        </div>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control">
        <div class="input-group-append">
            <input asp-for="CVV" class="form-control" autocomplete="CVV" aria-required="true" />
            <label asp-for="CVV"></label>
            <span asp-validation-for="CVV" class="text-danger"></span>
            <span class="input-group-text"><i class="fas fa-check"></i></span>
        </div>
    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}*@
