<div class="text-center">
    <img src="/Images/BorovetsMapBulgaria.png" class="rounded float-left" style="max-width: 28rem;" alt="Map of Bulgaria,Bansko">
    <a asp-controller="Resort" asp-action="GetSlopePage" class="link-info">Slopes</a>
    <a asp-controller="Resort" asp-action="GetPlacesToStay" class="link-info">Places to stay</a>
    <a asp-controller="Resort" asp-action="GetWebCamera" class="link-info">Web camera</a>
</div>
