<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
<div class="row">
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img class="card-img" src="Images/Bansko1.jpg" alt="Card image">
                <div class="card-img-overlay"> 
                    <a asp-controller="Resort" asp-action="BanskoMainPage" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img class="card-img" src="Images/Borovets2.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a asp-controller="Resort" asp-action="BorovetsMainPage" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img class="card-img" src="Images/Pamporovo1.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a asp-controller="Resort" asp-action="PamporovoMainPage" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img class="card-img" src="Images/Rilski.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <a asp-controller="Resort" asp-action="PanichishteMainPage" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
    
